asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
cssselect==1.2.0
Deprecated==1.2.14
Django==5.0.7
greenlet==3.0.3
idna==3.7
lxml==5.2.2
mss==9.0.1
mysql-connector-python==8.4.0
mysqlclient==2.2.4
nodriver==0.34
pillow==10.4.0
playwright==1.44.0
playwright-stealth==1.0.6
pyee==11.1.0
PyMySQL==1.1.1
requests==2.32.3
setuptools==70.0.0
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
websockets==12.0
wrapt==1.16.0
